table {
    border-collapse: collapse;
    width: 600px;
    margin: 0 auto; 
}
td {
    height: 60px;
    border: 1px solid grey;
    text-align: center;
    width: 60px;
}

/* cislovani */
tr:nth-child(1) {
    counter-reset: jedna;
}
tr:nth-child(1) td::before {
    counter-increment: jedna 1;
    content: counter(jedna);
}
tr:nth-child(2) {
    counter-reset: dva;
}
tr:nth-child(2) td::before {
    counter-increment: dva 2;
    content: counter(dva);
}
tr:nth-child(3) {
    counter-reset: tri;
}
tr:nth-child(3) td::before {
    counter-increment: tri 3;
    content: counter(tri);
}