{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Správa záznamů</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
</head>

<body class="bg-light p-5">
    <div class="container">
        <h1 class="mb-4">Správa záznamů</h1>
        <!-- Zobrazení přihlášení -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                Přihlášen jako {{ request.user.username }}
            </div>
            <div>
                <a href="{% url 'logout' %}" class="btn btn-outline-secondary btn-sm">Odhlásit se</a>
            </div>
        </div>

        <!-- Výčet záznamů -->
        {% if zaznamy %}
        <ul class="list-group">
            {% for z in zaznamy %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div>
                    <strong>{{z.jmeno}}</strong>
                    <span class="text-muted small float-end">
                        {{z.datum_cas|date:"d.m.Y H:i:s"}}
                    </span>
                    <br>
                    {{z.zprava}}
                </div>
                <div>
                    <a href="{% url 'smaz_zaznam' z.id %}" class="btn btn-sm btn-danger">🗑️</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="text-muted">Zatím žádné zázanmy</p>
        {% endif %}

    </div>
</body>

</html>