.vysvetlivka {
    position: relative;
    display: inline-block;
}
.vysvetlivka .textVysvetlivky {
    position: absolute;
    width: 130px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    top: 100%;
    left: 0%;
    visibility: hidden;
}
.obrazek {
    width: 120px;
}
.vysvetlivka:hover .textVysvetlivky {
    visibility: visible;
}
.vysvetlivka .textVysvetlivky a {
    color: rgb(0, 191, 255);
}