table {
    width: 100%;
    border-collapse: collapse;
}

td {
    height: 60px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.barva {
    color: white;
}
tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
    background-color: #b3b3ff;
}
tr:nth-child(even) td:nth-child(even)::after,
tr:nth-child(odd) td:nth-child(odd)::after {
    content: "světlé";
}
tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
    background-color: rgba(0, 0, 55, 0.097);
    color: white;
}
tr:nth-child(even) td:nth-child(odd)::after,
tr:nth-child(odd) td:nth-child(even)::after {
    content: "tmavé";
}