table {
    width: 100%;
    border-collapse: collapse;
}

td {
    height: 60px;
    border: 1px solid black;
    padding: 5px;
    color: transparent;
    text-align: center;
}
tr:nth-child(2n) td:nth-child(2n),
tr:nth-child(2n+1) td:nth-child(2n+1) {
    background-color: rgb(160, 160, 255);
}
tr:nth-child(2n) td:nth-child(2n+1),
tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: rgb(0, 0, 111);
}