<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrace úspěšná</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-success shadow-lg p-4">
                    <h4 class="alert-heading">✅ Registrace proběhla úspěšně</h4>
                    <p>Na e-mail (<strong>{{ email }}</strong>) jsme vám zaslali aktivační odkaz, kterým si váš účet
                        aktivujete.</p>
                    <p>Účet je potřeba aktivovat než bude možné se přihlásit.</p>
                    <hr>
                    <a href="/registrace/" class="btn btn-outline-primary">Zpět na hlavní stránku</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>