<!-- login.html -->
{% extends "base.html" %}
{% block content %}
    <style>
        #chat-body {
            height: 400px;
            overflow-y: scroll;
        }
    </style>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">Chat</div>
            <div id="chat-body" class="card-body">
                Zatím nic nenačteno :(
            </div>
            <div class="card-footer">
                <button id="chat-refresh" class="btn btn-primary">Načíst</button>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Zpráva" aria-label="Zpráva" aria-describedby="send-button" id="chat-input">
            <button class="btn btn-outline-danger" type="button" id="send-button">Odeslat</button>
        </div>
    </div>
    <script>
    /*
        Ukol:
        c) filtr času z chatu
    */
    function updateChat() {
        fetch("http://localhost:8000/chat/api", {
            method: "GET"
        })
            .then(response => {return response.text();})
            .then(text => {
                const chat = document.getElementById("chat-body");

                chat.innerText = text;
            });
    }

    // send message
    document.getElementById("send-button").addEventListener("click", function() {
        let form = new FormData();
        form.append("message", document.getElementById("chat-input").value);

        fetch("http://localhost:8000/chat/api", {
            method: "POST",
            body: form,
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            }
        })
            .then(() => document.getElementById("chat-input").value = "")
    });

    document.getElementById("chat-refresh").addEventListener("click", updateChat);

    setInterval(updateChat, 500);




    const bannedWords = ["debil", "koule", "monitor", "pes", "dumbass"]; // vsechna pismenka budou mala

    document.addEventListener("keyup", event => {
        // letter keys only
        if (event.key.length !== 1) return;

        let original = document.getElementById("chat-input").value;
        let ocistenyText = original;

        // basic filtering
        ocistenyText = ocistenyText
            .toLowerCase()
            .replaceAll("@", "a")
            .replaceAll("$", "s");

        bannedWords.forEach(function(word) {
            // find word
            if (ocistenyText.includes(word)) {
                // find first occurence of word
                while (ocistenyText.indexOf(word) !== -1) {
                    const start = ocistenyText.indexOf(word);
                    const end = start + word.length;

                    // replace word with ***
                    ocistenyText = ocistenyText.slice(0, start) + "***" + ocistenyText.slice(end);
                    original = original.slice(0, start) + "***" + original.slice(end);
                }

                document.getElementById("chat-input").value = original;
            }
        })
    })

    </script>
{% endblock %}