<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webová kalkulačka</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <p style="color: red;">{{error_msg}}</p>
        <input type="text" name="a">
        <select name="operator">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">×</option>
            <option value="/">÷</option>
        </select>
        <input type="text" name="b"><br>
        <input type="submit">

        <p>{{vysledek}}</p>
    </form>
</body>

</html>